* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Full mobile screen */
.home-container {
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px 20px 40px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* content bottom me */
  background-color: #ffffff;
   border-radius: 10px;
}

/* Heading */
.home-title {
  font-size: 29px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
}

/* Subtitle */
.home-subtitle {
  font-size: 17px;
  color: #8a8a8a;
  margin-bottom: 15px;
  line-height: 1.5;
}

/* Input wrapper */
.home-input {
  margin-bottom: 16px;
}

/* Primary button */
 .home-primary-btn{
  width: 100%;
  padding: 14px;
  background-color: #6c2bd9;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

/* Secondary button */
.home-secondary-btn {
  width: 100%;
  padding: 14px;
  margin-top: 14px;
  background-color: #e6d9ff;
  color: #000000;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Active feedback (mobile touch) */
.home-btn:active {
  transform: scale(0.98);
}

.home-btn:active {
  transform: scale(0.98);
}