

.profile-page {
  background-color: #f5f5f5;
  min-height: 100vh;
   width: 375px;  
    border-radius: 10px;  
}

/* Card */
.profile-card {
  background: #eeecec;
  margin: 15px;
  padding: 16px;
  border-radius: 10px;
}

/* Header section */
.profile-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Profile Image */
.profile-img-wrapper {
  position: relative;
  width: 64px;
  height: 64px;
}

.profile-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/* Camera Icon */
.camera-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #6c2bd9;
  color: white;
  font-size: 12px;
  padding: 4px;
  border-radius: 50%;
}

/* Name & Email */
.profile-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.profile-header p {
  margin: 2px 0 0;
  font-size: 13px;
  color: #666;
}

/* About text */
.profile-about {
  margin-top: 14px;
  font-size: 13px;
  line-height: 1.6;
  color: #555;
}